# Mac stuff:
.DS_Store

# Python stuff:
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
build/
dist/

# Virtual environments:
.venv/
venv/

# https://github.com/lycheeverse/lychee
.lycheecache

# Cached test fixtures (downloaded on demand by the e2e test)
tests/data/

# Editors:
.idea/
